@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /*Primaray colors*/
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --Soft-violet-accent: hsl(277, 64%, 61%);
  /*Neutral colors*/
  --White-main-heading-stats: hsl(0, 0%, 100%);
  --white-main-paragraph: hsla(0, 0%, 100%, 0.75);
  --white-stat-headings: hsla(0, 0%, 100%, 0.6);
  /*fonts */
  --inter-family: "Inter", sans-serif;
  --lexend-family: "Lexend Deca", sans-serif;
}
body,
h1,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1rem;
  font-family: var(--lexend-family);
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-family: var(--inter-family);
}

p {
  color: var(--white-main-paragraph);
}

.container {
  width: 90%;
  max-width: 69.312rem;
  border-radius: 0.56rem;
  background-color: var(--card-background);
  overflow: hidden;
}

.card__container {
  display: flex;
}

.content__side {
  padding: 4.87rem 4.37rem 3.93rem 4.37rem;
  width: 50%;
}

.card__title {
  font-size: 2.187rem;
  letter-spacing: 0.6px;
}

.card__para {
  margin: 1.93rem 0;
  line-height: 1.6;
}

.card__title,
.stat__heading {
  color: var(--White-main-heading-stats);
}

.stats__container--ul {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2.5rem;
  font-family: var(--inter-family);
}

.stat__heading {
  font-size: 1.25rem;
  font-weight: 700;
}

.stat__para {
  font-size: 0.75rem;
  margin-top: 0.3125rem;
  font-weight: 400;
}

.stats__container--list {
  list-style-type: none;
}

.spanned-text {
  color: var(--Soft-violet-accent);
}

.image__side {
  width: 50%;
}

.image__side {
  background-color: var(--Soft-violet-accent);
  background-blend-mode: multiply;
  background-image: url(./images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1100px) {
  .container {
    max-width: 26rem;
  }
  .card__container {
    flex-direction: column-reverse;
  }
  .content__side {
    width: 100%;
    text-align: center;
    padding: 2.6rem 2.12rem;
  }
  .card__title {
    font-size: 1.5rem;
  }
  .stats__container--ul {
    flex-direction: column;
    padding-top: 0;
  }

  .stats__container--list:not(first-child) {
    margin-top: 1.25rem;
  }
  .image__side {
    height: 20.9rem;
    background-image: url(./images/image-header-mobile.jpg);
    width: 100%;
  }
}
